:root {
  --main-color-dark: rgb(237, 148, 85);
  --main-color-light: rgb(255, 251, 218);
  --main-details-up: rgb(255, 236, 158);
  --main-details-down: rgb(255, 187, 112);
  --black: rgb(44, 44, 44);
  --white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
