:root {
  --main-color-dark: rgb(237, 148, 85);
  --main-color-light: rgb(255, 251, 218);
  --main-details-up: rgb(255, 236, 158);
  --main-details-down: rgb(255, 187, 112);
  --black: rgb(44, 44, 44);
  --white: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_font {
  font-family: "Inter", sans-serif;
}

.text_font {
  font-family: "Lora", serif;
}

footer {
  display: fixed;
  background-color: var(--main-color-dark);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.header_container_main {
  display: flex;
  background-color: var(--main-color-dark);
  height: 60px;
}

.header_container_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin: auto;
  width: 90%;
}

.header_branding {
  color: var(--white);
  font-size: 28px;
  font-weight: 800px;
  font-family: "Inter", sans-serif;
}

.header_navbar_container ul {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

.header_navbar_container ul li {
  color: var(--white);
  text-decoration: none;
  padding: 2px 13px;
}

.header_navbar_container ul li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.header_navbar_container ul li:hover a {
  color: var(--main-details-up);
}

.footer_container_section {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  margin: auto;
  width: 90%;
  height: 100%;
}

.footer_container_section span {
  display: flex;
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-align: center;
  vertical-align: middle;
}
