



h1 {
    color: #000000;
}

h3{
    font-family: "Lora", serif;
}

.main-conteinter {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    padding: 23px 1px;
}

.seccion-centrada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.seccion-centrada img {
    max-width: 30%; 
    margin-bottom: 30px; 
}

.contenido-centrado {
    text-align: center; 
}


.seccion-centrada h2{     font-family: "Inter", sans-serif;
        font-size: 24px; 
        font-weight: bold; 
        padding: 10px; 
        color: var(--black);
}


.seccion-centrada p {
    line-height: 1.6;
    font-family: "Lora", serif;
    color: var(--black);
}



.equipo-imagen{
    text-align: center;
}

.imagen-container{
    display:flex;
    width: 100%;
    justify-content: center;
    padding: 32px 3px;
}

.mision-imagen{
    display:flex;
    width: 600px;
    height: 300px;
    object-fit:cover;
    border-radius: 12px;
    
}